$colour-primary : #9356DC;
$colour-secondary : #FF79DA;
$colour-tertiary : #99E2D0;
$colour-location : #EAEAEA;
$colour-menu: #F6F6F6;
$dark-flag-new: darken($colour-tertiary,40%);
$colour-footer: #353535;
$light-primary: lighten($colour-primary, 36%);

$shadow-light : 0px 6px 25px -13px gray;
$shadow-dark : 6px 6px 25px -7px black;