#introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $colour-menu;
        &__headline{
            font-weight: bold;
            font-size: 1.9em;
            margin: 50px 30px 10px 30px;
        }
        &__under{
            font-weight: 300;
            font-size: 1.3em;
            margin: 10px 30px 30px 30px;
        }
        button{
            border-style: none;
            border-radius: 40px;
            color: white;
            font-size: 1em;
            padding: 15px;
            box-shadow: $shadow-light;
            margin-bottom: 60px;
            background: $colour-secondary;
            background: -moz-linear-gradient(-45deg, $colour-secondary 0%, $colour-primary 100%);
            background: -webkit-linear-gradient(-45deg, $colour-secondary 0%, $colour-primary 100%);
            background: linear-gradient(135deg, $colour-secondary 0%, $colour-primary 100%);
        }
}

#location{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colour-location;
    height: 65px;
    box-shadow: inset 0 6px 9px -6px gray;
        i{
            margin: 30px;
            font-size: 1.3em;
            color: black;
        }
        input{
            border: none;
            background-color: $colour-location;
            height: 20px;
            font-size: 1.3em;
            &:focus{
                outline: none;
            }
        }
}

#use{
    h2{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .step{
        position: relative;
        display: flex;
        align-items: center;
        padding: 35px;
        background-color: $colour-menu;
        border-radius: 20px;
        margin: 0px 0px 25px 20px;
        box-shadow: $shadow-light;
            &__number{
                font-size: 0.8em;
                color: white;
                position: absolute;
                width: 25px;
                height: 25px;
                border-radius: 50px;
                background-color:  $colour-primary;
                display: flex;
                align-items: center;
                justify-content: center;
                left: -15px;
            }
            i{
                color: gray;
                margin-right: 25px;
                font-size: 1.2em;
            }
            &__text{
                font-weight: 500;
            }
    }
}

#restaurants{
    background-color: $colour-menu;
    padding-bottom: 50px;
    h2{
        margin-top: 40px;
        margin-bottom: 30px;
    }
}

.store{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: $shadow-light;
    background-color: white;
    position: relative;
    margin-bottom: 25px;
    color: black;
    img{
        height: 200px;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
        object-position: 50% 95%;
    }
    #position-img{
        object-position: 50% 60%;
    }
    &__footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;

        i{
            font-size: 1.6em;
        }
    }
    &__infos{
        h3{
           font-size: 1.3em; 
           margin-bottom: 5px;
        }
        p{
            font-size: 1.2em;
            font-weight: lighter;
        }
    }
    &__flag{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $colour-tertiary;
        color: $dark-flag-new;
        width: 90px;
        height: 30px;
        box-shadow: $shadow-light;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
    }

}