.img-menu{
    width: 100%;
    height: 350px;
    object-fit: cover;
    z-index: 1;
}

.menu-store{
    position: relative;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    background-color: $colour-menu;
    z-index: 2;
    margin-top: -50px;
    padding-bottom: 90px;
    a{
        width: fit-content;
        align-self: center;
        margin-top: 40px;
    }
}

.store-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    padding-top: 15px;
    padding-bottom: 20px; 
        h1{
            font-size: 1.8em;
            margin-left: 2%;
        }
        .heart{
            font-size: 1.6em;
            margin-right: 5%;
        }
}
.menu-section{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
        h2{
            font-weight:lighter;
            font-size: 1.2em;
            width: 45px;
            padding-bottom: 5px;
            border-bottom: 3px $colour-tertiary solid;
            margin-bottom: 15px;
            margin-left: 10px;
        }
        &__meal{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            border-radius: 20px;
            box-shadow: $shadow-light;
            margin-bottom: 15px;
            &--infos{
                display: flex;
                flex-direction: column;
                padding: 15px;
                width: 65%;
                overflow: hidden;
                h3{
                    font-weight: 500;
                    margin-bottom: 5px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .supplement{
                    font-weight: 300;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                
            }
            .price{
                align-self: flex-end;
                font-weight: bold;
                padding: 15px;
                width: auto;
            }
            .checkbox{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $colour-tertiary;
                border-radius: 0 20px 20px 0;
                height: 80px;
                width: 0%;
                transform: scaleX(0);
                transition: all 500ms;
                transform-origin: right;
                i{
                    font-size: 1.4em;
                    color: white;
                    opacity: O;
                    transition: all 500ms;
                }
            }
            &:hover{
                .checkbox{
                    width: 25%;
                    transform: scaleX(1);
                    i{
                        transform: rotate(-360deg);
                        opacity: 1;
                    }
                }
            }
        }
}

@media screen and (min-width : 768px) { 
    .complete-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .menu-section{
        width: 30%;
    }
}